/*css of book*/ 
.nav {background-color:#f1f2f3; text-align:center; padding:15px;}
.nav_form_submit {padding:5px;background-color:#f1f2f3;}
.nav_btn {float:right; background-color:#f2f3f4; text-align:center;}
.nav_td_input {float:right;}
.nav_left {width: 100px; }

